:local {
    .quoteBox {
        .invoiceDetailsAlert {
            background-color: #feb9b5;
        }
        .paymentButton {
            min-width: 160px;
            width: 50%;
            min-height: 40px;
            border: 1px solid #2196f3;
        }
    }
}
