.numberCount .minus-icon {
  height: 20px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  cursor: pointer;
  background: #fff;
  display: inline-block;
  z-index: 3;
  padding: 17px 25px;
}

.numberCount .minus-icon:after {
  content: '';
  width: 18px;
  height: 1px;
  background: #20a397;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 15px;
}

.numberCount .plus-icon {
  height: 20px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  cursor: pointer;
  background: #fff;
  display: inline-block;
  z-index: 3;
  padding: 17px 25px;
}

.numberCount .plus-icon:after {
  content: '';
  width: 18px;
  height: 1px;
  background: #20a397;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 15px;
}

.numberCount .plus-icon:before {
  content: '';
  width: 18px;
  height: 1px;
  background: #20a397;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 15px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.numberCount input[type="number"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}




