.button-load-more-full {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  color: #2196F3;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 15px;
  font-weight: 700;
  border:0 none;
  -webkit-appearance: none;
}
.button-load-more-full:hover, .button-load-more-full:visited {
  background: #FFFFFF;
  color: #2196F3;
}
