/* ========== checkbox-round ========== */
.input-chips {
  display: none;

  & + label {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 24px;
    margin: 0;
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
  }
  &.chips_sm + label {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 24px;
    margin: 0;
    cursor: pointer;
    display: block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #EFEFEF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: #EFEFEF;
  }

  &:checked + label {
    color: #efefef;
    font-weight: 700;
    border-color: #009688;
    background: #009688;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &:disabled + label {
    border-color: #d4d4d4;
    color: #b2b2b2;
    box-shadow: none;
  }
}
