/* == Position == */


/* ------------------------ positions ---------------------------- */

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.static {
    position: static !important;
}

.fixed {
    position: fixed !important;
}

.sticky {
    position: sticky !important;
}


/* ----------------------- float----------------------------- */

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

.fnone {
    float: none !important;
}


/* --------------------------absolute center--------------------------------- */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.absolute-center-h {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%;
}

.absolute-center-v {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
}


/* ----------------------------top / bottom / left / right----------------------------------- */

.t0 {
    top: 0;
}

.t1 {
    top: 1px;
}

.t2 {
    top: 2px;
}

.t3 {
    top: 3px;
}

.t4 {
    top: 4px;
}

.t5 {
    top: 5px;
}

.t6 {
    top: 6px;
}

.t7 {
    top: 7px;
}

.t8 {
    top: 8px;
}

.t9 {
    top: 9px;
}

.t10 {
    top: 10px;
}

.t15 {
    top: 15px;
}

.t20 {
    top: 20px;
}

.t25 {
    top: 25px;
}

.t30 {
    top: 30px;
}

.t40 {
    top: 40px;
}

.t50 {
    top: 50px;
}

.t100 {
    top: 100%;
}

.b0 {
    bottom: 0;
}

.b1 {
    bottom: 1px;
}

.b2 {
    bottom: 2px;
}

.b3 {
    bottom: 3px;
}

.b4 {
    bottom: 4px;
}

.b5 {
    bottom: 5px;
}

.b6 {
    bottom: 6px;
}

.b7 {
    bottom: 7px;
}

.b8 {
    bottom: 8px;
}

.b9 {
    bottom: 9px;
}

.b10 {
    bottom: 10px;
}

.b15 {
    bottom: 15px;
}

.b20 {
    bottom: 20px;
}

.b30 {
    bottom: 30px;
}

.b40 {
    bottom: 40px;
}

.b50 {
    bottom: 50px;
}

.b100 {
    bottom: 100%;
}

.l0 {
    left: 0;
}

.l1 {
    left: 1px;
}

.l2 {
    left: 2px;
}

.l3 {
    left: 3px;
}

.l4 {
    left: 4px;
}

.l5 {
    left: 5px;
}

.l6 {
    left: 6px;
}

.l7 {
    left: 7px;
}

.l8 {
    left: 8px;
}

.l9 {
    left: 9px;
}

.l10 {
    left: 10px;
}

.l15 {
    left: 15px;
}

.l20 {
    left: 20px;
}

.l30 {
    left: 30px;
}

.l40 {
    left: 40px;
}

.l50 {
    left: 50px;
}

.l100 {
    left: 100%;
}

.r0 {
    right: 0;
}

.r1 {
    right: 1px;
}

.r2 {
    right: 2px;
}

.r3 {
    right: 3px;
}

.r4 {
    right: 4px;
}

.r5 {
    right: 5px;
}

.r6 {
    right: 6px;
}

.r7 {
    right: 7px;
}

.r8 {
    right: 8px;
}

.r9 {
    right: 9px;
}

.r10 {
    right: 10px;
}

.r15 {
    right: 15px;
}

.r20 {
    right: 20px;
}

.r30 {
    right: 30px;
}

.r40 {
    right: 40px;
}

.r50 {
    right: 50px;
}

.r100 {
    right: 100%;
}

.lauto {
    left: auto !important;
}

.mlauto {
    margin-left: auto !important;
}

.mrauto {
    margin-right: auto !important;
}


/* ------------------ z-index ------------------- */

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 6;
}

.z10 {
    z-index: 10;
}

.z11 {
    z-index: 11;
}

.z12 {
    z-index: 12;
}

.z13 {
    z-index: 13;
}

.z14 {
    z-index: 14;
}

.z15 {
    z-index: 15;
}

.z16 {
    z-index: 16
}