/* == Spacing == */

/* -------------------------- padding --------------------------- */
.p0 { padding: 0 !important; }
.p1 { padding: 1px !important; }
.p2 { padding: 2px !important; }
.p3 { padding: 3px !important; }
.p4 { padding: 4px !important; }
.p5 { padding: 5px !important; }
.p8 { padding: 8px !important; }
.p10 {padding: 10px !important;}
.p15 { padding: 15px !important; }
.p24 { padding: 24px !important; }
.p32 { padding: 32px !important; }
.p48 { padding: 48px !important; }
.p64 { padding: 64px !important; }
/* -------------------------- padding top--------------------------- */
.pt0 { padding-top: 0 !important; }
.pt1 { padding-top: 1px !important; }
.pt2 { padding-top: 2px !important; }
.pt3 { padding-top: 3px !important; }
.pt4 { padding-top: 4px !important; }
.pt5 { padding-top: 5px !important; }
.pt8 { padding-top: 8px !important; }
.pt15 { padding-top: 15px !important; }
.pt24 { padding-top: 24px !important; }
.pt32 { padding-top: 32px !important; }
.pt48 { padding-top: 48px !important; }
.pt64 { padding-top: 64px !important; }
/* -------------------------- padding bottom--------------------------- */
.pb0 { padding-bottom: 0 !important; }
.pb1 { padding-bottom: 1px !important; }
.pb2 { padding-bottom: 2px !important; }
.pb3 { padding-bottom: 3px !important; }
.pb4 { padding-bottom: 4px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb8 { padding-bottom: 8px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb24 { padding-bottom: 24px !important; }
.pb32 { padding-bottom: 32px !important; }
.pb48 { padding-bottom: 48px !important; }
.pb64 { padding-bottom: 64px !important; }
/* -------------------------- padding left--------------------------- */
.pl0 { padding-left: 0 !important; }
.pl1 { padding-left: 1px !important; }
.pl2 { padding-left: 2px !important; }
.pl3 { padding-left: 3px !important; }
.pl4 { padding-left: 4px !important; }
.pl5 { padding-left: 5px !important; }
.pl8 { padding-left: 8px !important; }
.pl15 { padding-left: 15px !important; }
.pl24 { padding-left: 24px !important; }
.pl32 { padding-left: 32px !important; }
.pl48 { padding-left: 48px !important; }
.pl64 { padding-left: 64px !important; }
/* -------------------------- padding right--------------------------- */
.pr0 { padding-right: 0 !important; }
.pr1 { padding-right: 1px !important; }
.pr2 { padding-right: 2px !important; }
.pr3 { padding-right: 3px !important; }
.pr4 { padding-right: 4px !important; }
.pr5 { padding-right: 5px !important; }
.pr8 { padding-right: 8px !important; }
.pr15 { padding-right: 15px !important; }
.pr24 { padding-right: 24px !important; }
.pr32 { padding-right: 32px !important; }
.pr48 { padding-right: 48px !important; }
.pr64 { padding-right: 64px !important; }
/* -------------------------- margin --------------------------- */
.m0 { margin: 0 !important; }
.m1 { margin: 1px !important; }
.m2 { margin: 2px !important; }
.m3 { margin: 3px !important; }
.m4 { margin: 4px !important; }
.m5 { margin: 5px !important; }
.m8 { margin: 8px !important; }
.m15 { margin: 15px !important; }
.m24 { margin: 24px !important; }
.m48 { margin: 48px !important; }
.m64 { margin: 64px !important; }
/* -------------------------- margin top--------------------------- */
.mt0{ margin-top: 0 !important; }
.mt1{ margin-top: 1px !important; }
.mt2{ margin-top: 2px !important; }
.mt3{ margin-top: 3px !important; }
.mt4 { margin-top: 4px !important; }
.mt5{ margin-top: 5px !important; }
.mt8 { margin-top: 8px !important; }
.mt15 { margin-top: 15px !important; }
.mt24 { margin-top: 24px !important; }
.mt32 { margin-top: 32px !important; }
.mt48 { margin-top: 48px !important; }
.mt64 { margin-top: 64px !important; }
/* -------------------------- margin bottom--------------------------- */
.mb0 { margin-bottom: 0 !important; }
.mb1 { margin-bottom: 1px !important; }
.mb2 { margin-bottom: 2px !important; }
.mb3 { margin-bottom: 3px !important; }
.mb4 { margin-bottom: 4px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb8 { margin-bottom: 8px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb24 { margin-bottom: 24px !important; }
.mb32 { margin-bottom: 32px !important; }
.mb48 { margin-bottom: 48px !important; }
.mb64 { margin-bottom: 64px !important; }
/* -------------------------- margin left--------------------------- */
.ml0 { margin-left: 0 !important; }
.ml1 { margin-left: 1px !important; }
.ml2 { margin-left: 2px !important; }
.ml3 { margin-left: 3px !important; }
.ml4 { margin-left: 4px !important; }
.ml5 { margin-left: 5px !important; }
.ml8 { margin-left: 8px !important; }
.ml15 { margin-left: 15px !important; }
.ml24 { margin-left: 24px !important; }
.ml48 { margin-left: 48px !important; }
.ml64 { margin-left: 64px !important; }
/* -------------------------- margin right--------------------------- */
.mr0 { margin-right: 0 !important; }
.mr1 { margin-right: 1px !important; }
.mr2 { margin-right: 2px !important; }
.mr3 { margin-right: 3px !important; }
.mr4 { margin-right: 4px !important; }
.mr5 { margin-right: 5px !important; }
.mr8 { margin-right: 8px !important; }
.mr15 { margin-right: 15px !important; }
.mr24 { margin-right: 24px !important; }
.mr48 { margin-right: 48px !important; }
.mr64 { margin-right: 64px !important; }
