.sequential-form-container {
    .local-experience-container {
        .fw9.iblock {
            margin-bottom: 8px !important; // to be removed later
        }
    }
    .radio-common+label {
        background-color: #fff;
        border: 1px solid #d4d4d4;
        p {
            color: #3e3e3e;
        }
    }
    .radio-common:checked+label {
        background: #009688;
        color: #fff;
        border-color: #009688;
        p {
            color: #fff;
        }
    }
    margin-top:60px;
    input {
        &:focus {
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08);
        }
    }
    .budget-selector-container {
        .budget-icon {
            &:last-child {
                .icon-48 {
                    svg {
                        transform: scale(1.3);
                    }
                }
            }
            &:first-child {
                .icon-48 {
                    svg {
                        transform: scale(0.8);
                    }
                }
            }
        }
    }
    .daysCount,
    .minus-icon {
        .plus-icon {
            width: 100px;
            &:before {
                left: 70px;
            }
            &:after {
                left: 70px;
            }
        }
        .minus-icon {
            width: 100px;
        }
    }
    .input-error {
        input {
            border-color: #FE5246 !important;
        }
    }
    .active-shadow {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08);
    }
    .move-up-15 {
        margin-top: -15px !important;
    }
    .progress-bar-container {
        height: 2px;
        width: 100%;
        left: 0;
        top: 48px;
        position: fixed;
        z-index: 999;
    }
    .progress-indicator {
        background: #efefef;
        display: inline-block;
        width: 15%;
        height: 100%;
        margin-right: 2px;
        flex: 1;
        &.active {
            background: #009688;
        }
    }
    .header-logo-right {
        width: 24px;
        height: 24px;
        position: relative;
        display: block;
    }
    .month-option {
        width: 49%;
        height: 40px;
        text-align: center;
        border: 1px solid #d4d4d4;
        line-height: 40px;
        display: inline-block;
        margin-bottom: 8px;
        position: relative;
        border-radius: 2px;
        &.month-pills {
            width: 24%;
            border: none;
            &.active {
                background: #fff;
                color: #009688;
            }
        }
        &.active {
            background: #009688;
            color: #fff;
            border-color: #009688;
            .checkbox-common:checked+label {
                color: #fff;
            }
        }
        .checkbox-common+label {
            &:before {
                display: none;
            }
        }
        .checkbox-common {
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            top: 0;
        }
    }
    .traveller-icon-container {
        width: 128px;
        margin: 25px auto 10px;
    }
    .contact-icon-container {
        width: 172px;
        margin: 25px auto 5px;
    }
    .location-icon-container {
        width: 160px;
        margin: 5px auto 15px;
    }
    .arrow-icon-container {
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: bottom;
        position: absolute;
        top: 20px;
        right: 15px;
        &.left {
            left: 15px;
        }
    }
    .will-book-comp {
        margin-bottom: 15px;
    }
    .col-xs-6.p8.will-book-con-options.at_edit_willbook,
    .col-xs-6.at_tourtype_radio,
    .tour-type .col-xs-6 {
        padding: 0 !important;
        margin-bottom: 8px;
        margin-right: 8px;
        width: 46%;
    }
    .row.row-8 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    button {
        touch-action: manipulation;
    }
    .button-box {
        border: 1px solid #d4d4d4;
        padding: 48px 8px 15px;
        height: 160px;
        min-width: 49%;
        max-width: 49%;
        flex: 1;
        margin-bottom: 8px;
        display: inline-block;
        position: relative;
        border-radius: 2px;
        z-index: 99;
        &.budget-icon {
            height: 170px;
        }
        &.round-icon {
            .icon-48 {
                margin-bottom: 16px;
                position: relative;
                &:after {
                    content: '';
                    background: #efefef;
                    height: 70px;
                    width: 70px;
                    display: block;
                    border-radius: 50%;
                    position: absolute;
                    top: -11px;
                    left: -11px;
                    z-index: -1;
                }
            }
            &.active {
                border-color: #009688;
                position: relative;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08);
                .icon-48 {
                    margin-bottom: 16px;
                    position: relative;
                    &:after {
                        content: '';
                        background: #d9f7f1;
                        height: 70px;
                        width: 70px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        top: -11px;
                        left: -11px;
                        z-index: -1;
                    }
                }
            }
        }
        .tick-icon-container {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 8px;
            opacity: 0;
            transition: all 0.2s ease;
        }
        &.active {
            border-color: #009688;
            position: relative;
            .tick-icon-container {
                opacity: 1;
            }
        }
        .icon-48 {
            margin-bottom: 16px;
        }
        .checkbox-common,
        .radio-common {
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            top: 0;
        }
        .checkbox-common+label {
            &:before {
                display: none;
            }
        }
    }
    .suggested-item {
        border: 1px solid;
        border-radius: 25px;
        padding: 6px 16px;
        &.active {
            background: #2196F3;
            color: #fff;
        }
    }
    .react-datepicker__day--selected {
        background: #20A397;
        color: #fff;
    }
    .react-datepicker__current-month {
        font-size: 16px;
        text-transform: none;
    }
    .react-datepicker__day {
        font-size: 14px;
    }
    .number-of-days-container {
        .col-xs-6 {
            width: 100%;
            float: none;
        }
        .pl8 {
            padding-left: 0 !important;
            padding-top: 0 !important;
        }
    }
    .form-field-incl-label {
        label {
            padding-bottom: 8px !important;
        }
    }
    .destination-suggestions {
        margin-right: -32px;
    }
    .form-body {
        padding-top: 0;
        padding-left: 16px;
        padding-right: 16px;
        z-index: 9;
    }
    .from-location-container {
        label {
            padding-bottom: 8px !important;
        }
        margin-bottom:140px;
    }
    small {
        font-size: 10px;
        font-weight: 300;
    }
    .filler-div {
        display: block;
        width: 100%;
        height: 270px;
    }
    .or-divider {
        height: 2px;
        background: #d4d4d4;
        position: relative;
        span {
            color: #b2b2b2;
            font-size: 14px;
            position: absolute;
            top: -8px;
            left: 44%;
            background: #fff;
            width: 33px;
            text-align: center;
        }
    }
    .dividing-line {
        height: 1px;
        background: #efefef;
        margin-bottom: 15px;
        position: relative;
        width: auto;
        display: block;
        margin-left: -32px;
        margin-right: -32px;
    }
    .form-header-secondary {
        position: fixed;
        width: 100%;
        left: 0;
        top: 53px;
        background: #fff;
        z-index: 9;
    }
    .form-footer {
        border-top: 1px solid #efefef;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        width: 100%;
        background: #fff;
        position: fixed;
        .back-button-text {
            color: #fd5346;
            &.disabled {
                color: #b2b2b2;
                pointer-events: none;
            }
        }
        .btn-filled-pri-large {
            &.disabled {
                background: #b2b2b2;
            }
        }
    }
    .checkbox-toggle-common {
        position: relative;
        margin: 10px 0;
        label {
            font-weight: 900;
            font-size: 14px;
        }
        input {
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            &:checked {
                +.checkmark-container {
                    .checkmark-icon {
                        background: #009688;
                        right: 0;
                    }
                }
            }
        }
        .checkmark-container {
            width: 35px;
            height: 16px;
            position: absolute;
            top: 0;
            right: 0;
            background: #efefef;
            border-radius: 20px;
            .checkmark-icon {
                position: absolute;
                background: #b2b2b2;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                top: -3px;
            }
        }
    }
    .field-bold {
        input {
            border: 1px solid #3e3e3e;
        }
    }
    .range-slidecontainer {
        width: 100%;
    }
    .range-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        &:hover {
            opacity: 1;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
    }
    .will-book-con-options {
        .radio-common+label {
            background-color: #fff;
            border: 1px solid #d4d4d4;
            color: #3e3e3e;
        }
        .radio-common:checked+label {
            background: #20A397;
            border-color: #20A397;
            p {
                color: #fff;
            }
        }
        .radio-common+label p {
            color: #3e3e3e;
        }
    }
}

.form-header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    padding: 12px 0;
    .cross-common {
        top: 10px;
        left: 9px;
    }
}

.month-selection-modal {
    .month-of-travel-heading {
        color: #009688;
    }
    .month-option {
        width: 49%;
        height: 40px;
        text-align: center;
        border: 1px solid #d4d4d4;
        line-height: 40px;
        display: inline-block;
        margin-bottom: 8px;
        position: relative;
        border-radius: 2px;
        &.month-pills {
            width: 24%;
            border: none;
            &.active {
                background: #20A397;
                color: #fff;
                font-weight: 700;
                border-radius: 0.3rem;
            }
        }
        &.active {
            background: #009688;
            color: #fff;
            border-color: #009688;
            .checkbox-common:checked+label {
                color: #fff;
            }
        }
        .checkbox-common+label {
            &:before {
                display: none;
            }
        }
        .checkbox-common {
            display: block;
            opacity: 0;
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            top: 0;
        }
    }
}

.travel-month-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

@media screen and (device-aspect-ratio: 40/71) {
    .hide-iphone-five {
        display: none;
    }
}