//Color swatch
$primary-color: #20A397;
$secondary-color: #FE5246;
$highlight-color: #2196F3;

//App defaults
$text-primary: #2B2B2B;
$body-background: #FFFFFF;
$app-background: #EFEFEF;

// Links
$link: $highlight-color;
$link-visited: $highlight-color;
$link-hover: $highlight-color;

// Text
$black: #000000;

// Font sizes
$font-tiny: 80%;
$font-small: 90%;
$font-normal: 100%;
$font-heading: 115%;
