:local {
  .icon-404 {
    width: 288px;
    margin:0 auto;
    padding: 44px 0 24px 0;

    & svg {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  .not-found-list{
    li{
      border:1px solid #b2b2b2;
    }
  }
}
