:local {
  .nav {
    border-bottom: 1px solid #CCCCCC;
  }
  .borderLine {
    border-top: 1px solid #d4d4d4;
  }
  .bookingBlock {
    background: #eef7fe;
    padding: 15px;
    margin: 0 -15px;
  }
}
