.review-con-main {

}
.traveler-img-details {
  width: 200px;
  margin:0 auto;
  height: 60px;
}
.traveler-img-left {
  width: 60px;
  height: 60px;
  float: left;
}
.traveler-detail-left {
  width: 140px;
  padding-left: 15px;
  float: left;
  height: 60px;
  position: relative;
}
.traveler-detail-left-inner {
  width: 100%;
}
.limit {
  height: 106px;
  overflow: hidden;
}
.limit-3 {
  overflow: hidden;
  height: 56px;
}
