:local {
  .starsList {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .placement1 {
    text-align: center;
  }
  .agentImage{
    border: 1px solid #f3efef;
    width: 80px;
    height: 80px;
  }
}
