:local{
  .nurturingTab{
    border:1px solid #d4d4d4;
    border-radius: 6px;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
    .rightArrow{
      width: 24px;
      height:24px;
      right: 10px;
      top: 23px;
    }
  }
}
