.request-Header-container
{
border-top:1px solid #EFEFEF;
}
.illus-support-icon{
text-align:center;
}
.container-support-icon{
   width: 172px;
  height: 128px;
  margin:0 auto;
  display:block;
}
.pt18{
  padding-top:18px;
}
.thankYouIcon {
  width: 136px;
  height: 97px;
  margin: 0 auto;
  display: block;
  left: 22px;
  position: relative;
  svg {
    width: 136px;
    height: 97px;
    display: block;
  }
}