.arrowtnc{
    border: solid #FE5246;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    position: absolute;

}
.arrowtnc.right {
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
      left: 11px;
    top: 14px;
}
.arrowtnc.left{
  transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
        right: 8px;
    top: 14px;
}

.day-itenary {
  overflow: auto;
  z-index: 50;
  position: fixed;
  top: 0;
  height:100%;
}
.cross-common{
  width: 17px;
  height: 21px;
  top: 46%;
  left: 15px;
  z-index: 2;
  background: url("https://js.traveltriangle.com/public-product/amp-icons-v0.svg#Back2Icon-usage") no-repeat;
}
.itinerary-days-flag{
  padding: 4px 16px;
  display: inline-block;
  font-size: 14px;
  background: #3e3e3e;
  color: #fff;
  font-weight: 900;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  text-transform: capitalize;
  margin-left: -15px;
}

