.form-variation {
	padding-bottom: 62px;
	background-color: #fff;
	transition: all 0.1s ease-in 0s;
  .form-field-incl-label {
  	.form-field-label {
  		background-color: transparent;
  		border-radius: 5px;
			input {
				padding-left: 75px !important;
			}
  		label {
  			position: absolute;
		    left: 62px;
		    padding: 15px 0;
		    z-index: 1;
		    &:before {
		    	position: absolute;
			    content: ':';
			    right: -5px;
			    font-size: 11px;
			    font-weight: bolder;
			    top: 16px;
		    }
  		}
	  	&:last-child {
	  		margin-bottom: 0 !important;
	  		background-color: #fff;
	  		input {
	  			padding-left: 90px !important;
	  		}
	  	}
	  	.input-error-text {
	  		background-color: transparent;
	  	}
	  	.input-error input {
	  		border-color: #FE5246 !important;
	  	}

  	}
	  	& .exploring-destination {
                      .checkbox-common + label{
                              &::before {
                                      background-color: #fff;
                                      border-color: #2b2b2b;
                              }
                      }
                      .checkbox-common:checked + label{
                              &::before {
                                      background-color: #20A397;
                                      border-color: #2b2b2b;
                              }
                      }
              }
		
  }
    & .booked-ticket {
                  .checkbox-common + label{
                          &::before {
                                  background-color: #fff;
                                  border-color: #2b2b2b;
                          }
                  }
                  .checkbox-common:checked + label{
                          &::before {
                                  background-color: #20A397;
                                  border-color: #2b2b2b;
                          }
                  }
          }
  .progress-header-div {
  	background-color: #e1e1e1;
  }
  .progress-header {
  	background-color: #999;
  	height: 5px;
  	transition: all 0.3s ease-in 0s;
  }
  .bg-progress-div {
  	background-color: #fff;
  }
  .bg-progress {
  	transition: all 0.3s ease-in 0s;
  	background-color: #eae8e8;
  }
  .input-with-icon-box {
		background-color: #fff;
	}
}
.lead-form-transform .checkbox-common + label {
	width:auto !important;
}
