.hotel-card {box-shadow: 0 0 4px #CCCCCC;}
.hotel-img {
  height: 140px;
  overflow: hidden;
}
.hotel-img img {
  min-height: 140px;
  width: 100%;
}

.hotel-data-box {

  height: 112px;
  overflow: hidden;
}
.hotel-data-box-tags {
  height: 60px;
  overflow: hidden;
}
