.package-image-title {
  height: 120px;
  overflow: hidden;
}
.package-img {
  height: 120px;
  overflow: hidden;
}
.package-img img {
  width: 100%;
}

.package-image-title-large {
  height: 135px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  .package-img {
    height: 135px;
  }
}
