.top-destination-con {
  overflow-x: scroll;
  padding-bottom: 30px;
}
.top-destination-inner {
  display: -webkit-box;
  display: flex;
}
.top-destination-data {
  min-width: 23%;
  max-width: 23%;
  display: table-cell;
  word-wrap: break-word;
  float: left;
  text-align: center;
}
.top-destination-data span {
  width: 56px;
  height: 56px;
  background: #CCCCCC;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}
.top-destination-data span img {
  width: auto;
  min-height: 100%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topd {
  height: 140px;
  overflow: hidden;
}
