:local{
  .keyPoints{
    h6{
      font-weight:900;
    }
    .image{
      width: 60px;
      height: 60px;
      margin: 0 auto;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        width:100%;
      }

    }
  }
}