.container-forgot-icon{
  width: 136px;
  height: 97px;
  margin:0 auto;
  display:block;
}
.forgotIcon {
  width: 136px;
  height: 97px;
  margin: 0 auto;
  display: block;
  svg {
    width: 136px;
    height: 97px;
    display: block;
  }
}