.discount-ribbon {
  font-size: 12px;
  color: #ffffff;
  background: #20A397;
  border-radius: 27px;
  display: inline-block;
  padding: 0 10px;
  height: 18px;
  line-height: 20px;
}
.package-info-icon {
  float: right;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.package-info-icon.package-info-icon-custom-left {
  width: 18px;
  height: 18px;
  background: url("https://js.traveltriangle.com/public-product/amp-icons-v0.svg#InfoIcon-usage") no-repeat;

  .tooltipdata-up {
    position: absolute;
    right: calc(100% + 8px);
    width: 180px;
    padding: 8px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    &::after {
      content: '';
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: -8px;
      border-left: 8px solid #000;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }
  .tooltip-upwards{
    position: absolute;
    left: calc(100% - 110px);
    width: 190px;
    background-color: rgb(0, 0, 0);
    bottom: calc(100% + 6px);
    padding: 8px;
    border-radius: 2px;
    top: auto;
    transform: none;
    &:after {
      content: " ";
      position: absolute;
      bottom: -6px;
      border-top: 6px solid rgb(0, 0, 0);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-bottom: none;
    }
  }
}
.input-24 {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  background: url("https://js.traveltriangle.com/public-product/amp-icons-v0.svg#InfoIcon-usage") no-repeat;

}
